
// Typekit

.proxima-nova-regular {
	font-family: "proxima-nova", Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
}
.proxima-nova-medium {
	font-family: "proxima-nova", Arial, sans-serif;
	font-weight: 500;
	font-style: normal;
}
.proxima-nova-semibold {
	font-family: "proxima-nova", Arial, sans-serif;
	font-weight: 600;
	font-style: normal;
}
.proxima-nova-bold {
	font-family: "proxima-nova", Arial, sans-serif;
	font-weight: 700;
	font-style: normal;
}
