
$bp_laptop_large: 2000px; // 1600 - 2000px
$bp_laptop: 1599px; // 1441 - 1599px
$bp_laptop_small: 1440px; // 1280 - 1440px
$bp_tablet: 1279px; // 768 - 1279px
$bp_mobile: 767px; // 480 - 767px
$bp_mobile_small: 479px; // - 479px

@mixin media($media) {

  // default style is large (2000px + )

  // < 2001px (1600 - 2000)
  @if $media == large-laptop {
    @media only screen and (max-width: $bp_laptop_large) { @content; }
  }
  
  // < 1600px (1441px - 1599px)
  @else if $media == laptop {
    @media only screen and (max-width: $bp_laptop) { @content; }
  }

  // <= 1440px (1280 - 1440px)
  @else if $media == small-laptop {
    @media only screen and (max-width: $bp_laptop_small) , screen and (max-height: 900px) { @content; }
  }

  // < 1280px (992px - 1279px)
  @else if $media == tablet {
    @media only screen and (max-width: $bp_tablet) { @content; }
  }

  /// MOBILE LAYOUT STARTING AT 991px (cms-mobile)

  // boostrap col-ms (768 - 991px)
  @elseif $media == cms-mobile {
    @media only screen and (max-width: $screen-sm-max) { @content; }
  }
  // < 768px (480px - 767px)
  @else if $media == mobile {
    @media only screen and (max-width: $bp_mobile) { @content; }
  }
  // < 480px
  @else if $media == small-mobile {
    @media only screen and (max-width: $bp_mobile_small) { @content; }
  }
}