@mixin translate($status) {

	position: absolute;

	// using right instead of left to avoid scroll on ie: http://stackoverflow.com/questions/27990347/ie-showing-horizontal-scrollbar-after-dom-element-transformed

	@if $status == 'center' {
		top: 50%; right: 50%;
		-webkit-transform: translate(50%,-50%);
		-ms-transform: translate(50%,-50%);
		transform:translate(50%, -50%);
	} @else if $status == 'center-y' {
		top: 50%; right: auto;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform:translateY(-50%);	
	} @else if $status == 'center-x' {
		right: 50%; top: auto;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform:translateX(50%);
	} @else if $status == 'none' {
		right: auto; top: auto;
		-webkit-transform: none;
		-ms-transform: none;
		transform:none;
		position: relative;
	}

}

// === position absolute (full) or relative (auto)
@mixin position($status) { 
	@if $status == 'full' {
		position: absolute;
		top: 0;left: 0; right: 0; bottom: 0;
	} @else if $status == 'auto' {
		position: relative;
		top: auto; left: auto; right: auto; bottom: auto;
		transform: none;
	}
}


