// === Colours

$black: #000000;
$white: #ffffff;
$light-grey: #f7f7f7;
$grey: #919191;

$blue: #070768;
$gold: #e5ac38;

$red: #e54139;

$main_color: $blue;
$alt_color: $gold;

$copy_color: $blue;


// === General

$speed: .2s; // used for css animation. e.g. transition: opacity $speed;

$body_bg: $light-grey;

$wrapper_width: 1600px;
$wrapper_padding: 120px;


// === Header
$header_height: 70px;
$header_mobile_height: 63px;
$header_bg: $main_color;


// === Footer


// === Form
 $form_error: $red;
