.breadcrumbs {
  padding: 53px 0 47px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    li {
      float: left;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 36px;
      padding: 0 8px;
      color: $blue;
      position: relative;
      letter-spacing: 0.15em;
      & + li {
        &:before {
          top: 0;
          bottom: 0;
          margin: auto;
          width: 1px;
          height: 9px;
          border-radius: 0;
          background: $gold;
        }
      }
      a {
        text-decoration: none;
        color: $gold;
        letter-spacing: inherit;
        @extend .proxima-nova-semibold;
      }
      &:first-child {
        padding-left: 0;
        &:before {
          content: none;
        }
      }
    }
  }
}