button {
	&:hover, &:focus, &:active {
		outline: none;
	}
}

.btn-style-none {
	background: transparent;
	box-shadow: none;
	border:none;
	text-decoration: none;
	border-radius: 0;
	padding: 0; margin: 0;
	&:hover, &:focus, &:active {
		outline: none;
		text-decoration: none;
	}
}

.primary-btn,
.secondary-btn {
	@extend .proxima-nova-bold;
	@extend .btn-style-none;
	font-size: 11px;
	letter-spacing: .46em;
	line-height: normal;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 26px;
	text-align: center;
	height: auto;
	border-width: 2px;
	border-style: solid;

	transition: background $speed;

	cursor: pointer;

	@include media(cms-mobile) {
		font-size: 11px;
		padding: 14px 32px;
	}

}


.primary-btn {
	//background: $white;
	color: $alt_color;
	border-color: $alt_color; 
	&:hover {
		background: $alt_color;
		color: $white;
	}
}
.secondary-btn {
	//background: $white;
	color: $main_color;
	border-color: $main_color;
	&:hover {
		background: $main_color;
		color: $white;
	}
}


.text-link {
	@extend .proxima-nova-bold;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: .56em;
	text-transform: uppercase;
	color: $main_color;
	position: relative;
	text-decoration: none;
	padding: 5px 0;

	&:after {
		content: '';
		position: absolute;
		left: 0; bottom: 0; right: 5px;
		width: auto; height: 1px;
		background-color: $main_color;
		transition: opacity $speed;
	}

	&:hover {
		color: $main_color;
		text-decoration: none;
		&:after {
			opacity: 0;
		}
	}
	&:focus {
		text-decoration: none;
	}
}
.arrow-btn {
	@extend .btn-style-none;
	color: $blue;
	&:before {
		content: '\e807';

		font-family: "sphynx-icons";
		font-style: normal;
		font-weight: normal;
		speak: none;

		width: auto ;
		margin: 0;
	}
}