.enquire-form {
  .enquire-form-content {
    padding: 52px 0 87px;
  }
  .primary-btn,
  .secondary-btn {
    margin-top: 8px;
    width: 184px;
  }
  .secondary-btn {
    margin-top: 72px;
  }
  .group {
    width: 50%;
    float: left;
  }
  .form-group {
    padding: 0 10px 0 40px;
  }
  h4 {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 99px;
    text-align: center;
    letter-spacing: 0.55em;
  }
  .agent-detail {
    padding-top: 5px;
    padding-left: 10px;
    .image {
      width: 69px;
      height: 69px;
      margin-right: 27px;
      float: left;
    }
    .info {
      float: left;
    }
    h5 {
      line-height: 1;
      font-size: 13px;
      margin-bottom: 25px;
      text-transform: uppercase;
      color: $blue;
    }
    p {
      font-size: 13px;
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      &.mail {
        text-decoration: underline;
      }
    }
  }
  @media (min-width: 1200px) and (max-width: 1599px) {
    .col-agent {
      margin-left: 7%;
      width: 35%;
    }
    .col-form {
      width: 50%;
    }
  }
  @include media(cms-mobile) {
    .enquire-form-content {
      padding: 68px 0 120px;
    }
    .agent-detail {
      display: none;
    }
    h4 {
      margin-bottom: 74px;
    }
    .group {
      width: 100%;
      float: none;
    }
    .form-group {
      padding: 0;
      margin-bottom: 29px;
    }
    .primary-btn,
    .secondary-btn {
      display: block;
      margin: 94px auto 0;
    }
  }
}