// === Form placeholder
.form-group .form-control {
	&::-webkit-input-placeholder{
		color: $blue;
	}
	&:-ms-input-placeholder{
		color: $blue;
	}
	&::-moz-placeholder,
	&:-moz-placeholder {
		color: $blue;
	}
}

// === Form General
.form-control {
	border-radius: 0;
	border-width: 0 0 2px 0;
	box-shadow: none;
	padding: 0 0 13px 0;
	font-size: 13px;
	color: $blue;
	border-color: $blue;
	background: transparent;
	letter-spacing: 0.07em;
	&:focus {
		outline: none;
		box-shadow: none;
		border-color: inherit;
		@extend .proxima-nova-bold;
	}
	@media (max-width: 991px) {
		font-size: 12px;
	}
}
.form-gold {
	.form-control {
		border-bottom-color: $gold;
		color: $gold;
		&::-webkit-input-placeholder {
			color: $gold;
		}
		&:-ms-input-placeholder {
			color: $gold;
		}
		&::-moz-placeholder,
		&:-moz-placeholder {
			color: $gold;
		}
	}
}
.form-gray {
	.form-control {
		border-color: $grey;
		border-width: 0 0 1px 0;
		&:focus {
			border-color: $grey;
		}
		&::-webkit-input-placeholder{
			color: $grey;
		}
		&:-ms-input-placeholder{
			color: $grey;
		}
		&::-moz-placeholder,
		&:-moz-placeholder {
			color: $grey;
		}
	}
}
.form-group {
	margin-bottom: 28px;
}



// === Form Validation (parsley.js)
.form-control-error {
	color: $form_error;
	border-color: $form_error;
	&::-webkit-input-placeholder{
		color: $form_error;
	}
	&:-ms-input-placeholder{
		color: $form_error;
	}
	&::-moz-placeholder,
	&:-moz-placeholder {
		color: $form_error;
	}
}

 .form-group.form-error,
 .form-group.parsley-error {
// 	border-color: $form_error;
// 	label { color: $form_error; }
	 .form-control {
		 @extend .form-control-error;
	 }
 }

// .parsley-errors {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// 	text-align: left;
// }

// .parsley-errors-list {
// 	position: absolute;
// 	top: 100%;
// 	left: 0;

// 	margin: 0; padding: 0;
// 	margin-top: 5px;
// 	list-style: none;
// 	li { color: $form_error; padding: 0; font-size:13px; line-height: 20px; margin-bottom: 0px;}
// 	li:before { display: none; }
// }

// .side-panel_container .parsley-errors ul li {
// 	color: $form_error;
// }

// #footer_newsletter_form, #post_newsletter_form {
// 	.parsley-errors {
// 		margin-top: -10px;
// 	}
// }

// // used in quote form 
// .form-error-msg {
// 	color: $form_error; padding: 0; font-size:13px; line-height: 20px; margin-bottom: 0px;
// 	&.mt20 {
// 		margin-top: 20px;
// 	}
// }
.form-control.parsley-error {
	@extend .form-control-error;
}

.form-gold,
.form-gray {
	.form-group {
		&.form-error,
		&.parsley-error {
			.form-control {
				@extend .form-control-error;
			}
		}
		.form-control {
			&.parsley-error {
				@extend .form-control-error;
			}
		}
	}
}





