.carousel-wrap,
.slider-wrap,
.carousel,
.slider {
  position: relative;
}
.carousel {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  .item {
    float: left;
  }
}

.slick-slider {
  .slider-nav {
    position: absolute;
    top: 100%;
    width: 25px;
    border: none;
    background-color: transparent;
    margin-top: 22px;
    font-size: 10px;
    padding: 0;
    &:before {
      width: auto;
      margin: 0;
      line-height: 1;
    }
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
  &.controls-botttom-center {
    .slider-nav {
      width: 50%;
      text-align: center;
    }
  }
  &.controls-sides-center {
    .slider-nav {
      top: 50%;
      margin-top: 0;
      &.prev {
        right: 100%;
        left: auto;
        margin-right: 80px;
      }
      &.next {
        right: auto;
        left: 100%;
        margin-left: 80px;
      }
    }
  }
  &.controls-gold {
    .slider-nav {
      color: $gold;
    }
    .slick-dots {
      li {
        &.slick-active {
          button {
            background: $gold;
          }
        }
      }
    }
  }
}

.slick-dots {
  padding: 0;
  margin: 0 0 0 10px;
  list-style: none;
  position: absolute;
  top: 0;
  left: 100%;
  li {
    padding: 0;
    &:before {
      content: none;
    }
    & + li {
      padding-top: 12px;
    }
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 8px;
      height: 8px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: $grey;
      border-radius: 50%;
      padding: 0;
    }
    &.slick-active {
      button {
        background: $blue;
      }
    }
  }
}

@media (max-width: 374px) {
  .slider-wrap {
    padding-right: 20px;
  }
}
