@font-face {
  font-family: 'sphynx-icons';
  src: url('../fonts/sphynx-icons.eot?9942087');
  src: url('../fonts/sphynx-icons.eot?9942087#iefix') format('embedded-opentype'),
       url('../fonts/sphynx-icons.woff2?9942087') format('woff2'),
       url('../fonts/sphynx-icons.woff?9942087') format('woff'),
       url('../fonts/sphynx-icons.ttf?9942087') format('truetype'),
       url('../fonts/sphynx-icons.svg?9942087#sphynx-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sphynx-icons';
    src: url('../font/sphynx-icons.svg?9942087#sphynx-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sphynx-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-fb:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\e801'; } /* '' */
.icon-twitter-2:before { content: '\e802'; } /* '' */
.icon-x-icon-2-07:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-arrow-left:before { content: '\e806'; } /* '' */
.icon-arrow-right:before { content: '\e807'; } /* '' */
.icon-enquire:before { content: '\e808'; } /* '' */