.about {
  .intro {
    padding: 70px 0 73px;
    .lead {
      margin: 5px 0 30px;
    }
    p {
      margin-bottom: 27px;
    }
  }
  @media (min-width: 992px) {
    blockquote {
      margin: 75px 0 60px;
    }
  }
}