.design {
  .intro {
    padding-top: 70px;
    padding-bottom: 82px;
    p {
      margin-bottom: 28px;
    }
  }
  .image-big {
    padding: 108px 0 187px;
  }
  @include media(cms-mobile) {
    .image-big {
      padding: 50px 0;
    }
  }
}
.gallery {
  padding-bottom: 20px;
}
.floorplan {
  padding-bottom: 177px;
  .desc {
    margin-bottom: 60px;
    p {
      margin-bottom: 28px;
    }
  }
  .floorplan-slider-wrap {
    padding-top: 10px;
    padding-right: 40px;
  }
  h4 {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: .6em;
    margin-bottom: 45px;

  }
  .floorplan-slider {
    .item {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  @include media(cms-mobile) {
    .floorplan-slider-wrap {
      padding-right: 20px;
      padding-bottom: 65px;
    }
    h4 {
      text-align: center;
    }
  }
}