.home {
  .page-banner {
    height: 726px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      width: 1px;
      height: 26px;
      background: $blue;
      right: 0;
      bottom: -13px;
      left: 0;
      margin: auto;
    }
    .content {
      top: 50%;
      transform: translateY(-50%);
      padding-top: 0;
      padding-bottom: 0;
      .col {
        padding-left: 18px;
        margin-top: -23px;
      }
    }
    h1 {
      margin-bottom: 15px;
    }
    @include media(cms-mobile) {
      height: 433px;
      .content {
        position: absolute;
        top: auto;
        transform: none;
        bottom: 50px;
        left: 0;
        .col {
          margin-top: 0;
        }
      }
    }
  }
  .intro {
    padding: 91px 0 79px;
    .right {
      p {
        margin-bottom: 28px;
      }
    }
    @media (min-width: 1200px) and (max-width: 1400px) {
      .left {
        margin-left: 20%;
        width: 20%;
      }
      .right {
        margin-left: 15%;
        width: 35%;
      }
    }
    @include media(cms-mobile) {
      padding: 64px 0 30px;
    }
  }
  .latest-news {
    padding: 0 20px;
    .news-list {
      padding: 0;
      .item {
        margin-bottom: 90px;
      }
    }
  }
}
.box {
  h2 {
    @extend h3;
    text-align: center;
    color: $gold;
    margin-bottom: 58px;
  }
  @include media(cms-mobile) {
    h2 {
      margin-bottom: 25px;
    }
  }

}

.social-hub {
  padding-bottom: 210px;
  h2 {
    margin-bottom: 37px;
    letter-spacing: .24em;
  }
  h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 63px;
    letter-spacing: .6em;
  }
  .carousel {
    .item {
      width: 20%;
      position: relative;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      .icon {
        color: $white;
        position: absolute;
        bottom: 16px;
        left: 16px;
        z-index: 1;
        font-size: 18px;
        &:before {
          width: auto;
        }
      }
      .text {
        opacity: 0;
        background: $blue;
        transition: opacity linear $speed;
        padding: 30px 32px 30px 32px;
        display: block;
        min-height: 230px;
        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          z-index: 1;
        }
        p {
          color: $gold;
          font-size: 14.5px;
          line-height: 18px;
          @extend .proxima-nova-bold;
          text-overflow: ellipsis;
          max-height: 149px;
          overflow: hidden;
        }
      }
      &:hover {
        .text {
          opacity: 1;
        }
      }
    }
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    .carousel {
      .item {
        width: 25%;
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .carousel {
      .item {
        width: 33.3333%;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .carousel {
      .item {
        width: 50%;
      }
    }
  }
  @media (max-width: 767px) {
    padding-bottom: 111px;
    h2 {
      margin-bottom: 15px;
    }
    h3 {
      font-size: 12.5px;
      margin-bottom: 15px;
    }
    .container-fluid {
      padding: 0 15px;
    }
    .carousel {
      .item {
        width: 100%;
        .text {
          min-height: 346px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}