.news {
  .news-list {
    padding: 90px 20px 57px 20px;
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
    .item {
      padding: 0;
      margin-bottom: 60px;
      width: 33.3333%;
      float: none;
      margin-right: -2px;
      margin-left: -2px;
      display: inline-block;
      vertical-align: top;
    }
    .image {
      height: 469px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin-bottom: 47px;
      position: relative;
      cursor: pointer;
      &:before,
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all linear $speed;
      }
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba($gold, 0.5);
      }
      &:after {
        content: '+';
        font-size: 36px;
        line-height: 1;
        width: 36px;
        height: 36px;
        margin: auto;
        z-index: 2;
      }
      &:hover {
        &:before,
        &:after {
          opacity: 1;
        }
      }
    }
    h4 {
      @extend .proxima-nova-semibold;
      line-height: 24px;
      margin-bottom: 6px;
      letter-spacing: 0.6em;
      a {
        letter-spacing: inherit;
        text-decoration: none;
        &:hover,
        &:focus,
        &:visited {
          text-decoration: none;
        }
      }
    }
    .time {
      font-size: 12px;
      line-height: 21px;
      display: block;
      margin-bottom: 7px;
      letter-spacing: .1em;
    }
    .desc {
      padding-right: 50px;
      p {
        font-size: 14px;
        line-height: 22px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @media (max-width: 1400px) {
    .news-list {
      .item {
        .image {
          height: 369px;
        }
      }
    }
  }
  @media (max-width: 1199px) {
    .news-list {
      .item {
        .image {
          height: 269px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding: 0;
    .news-list {
      .item {
        margin-bottom: 30px;
        float: none;
        width: 100%;
        .image {
          margin-right: -43px;
          margin-bottom: 33px;
          margin-left: -43px;
          height: 374px;
        }
      }
    }
  }
}
.news-single {
  .page-banner {
    background-position: center center;
  }
  .intro {
    padding: 80px 0 0 0;
    h2 {
      color: $blue;
      line-height: 24px;
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 22px;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 47px;
        height: 2px;
        background: $blue;
      }
    }
    .time {
      font-size: 12px;
      letter-spacing: .1em;
    }
    .text-link {
      @extend .proxima-nova-semibold;
      display: block;
      margin-bottom: 40px;
      letter-spacing: 0.15em;
      &:after {
        content: none;
      }
    }
    .desc {
      p {
        margin-bottom: 28px;
        &.lead {
          margin-bottom: 24px;
        }
      }
    }
    blockquote {
      margin-top: 58px;
    }
  }
  .image-big {
    padding: 13px 0 67px;
  }
  .subscribe {
    padding-bottom: 78px;
    h4 {
      margin-bottom: 12px;
    }
    .subscribe-form {
      padding-top: 25px;
      margin-bottom: 61px;
    }
    .social-share {
      h4 {
        margin-bottom: 25px;
      }
    }
  }
  @media (min-width: 992px) {
    .page-banner {
      min-height: 563px;
    }
  }
}
.navigation {
  .prev,
  .next {
    text-align: center;
    padding: 61px 15px 70px;
    position: relative;
    .text-link {
      @extend  .proxima-nova-bold;
      font-size: 14px;
      line-height: 1;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      margin-bottom: 21px;
      letter-spacing: .6em;
      &:after {
        content: none;
      }
    }
    p {
      @extend .proxima-nova-medium;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.5em;
    }
    .image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 223px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .prev {}
  .next {
    padding-right: 223px;
  }
  @media (max-width: 767px) {
    .next {
      padding-right: 15px;
      .image {
        display: none;
      }
    }
  }
}