

// ====== General

body {
	@extend .proxima-nova-regular;
	background-color: $body_bg;
	color: $copy_color;
	font-size: 14px;
	line-height: 22px;

	// smooth scroll on ios 
	// https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
	overflow-y: scroll; /* has to be scroll, not auto */
 	-webkit-overflow-scrolling: touch;
}

img { max-width: 100%; height: auto;}

iframe { 
	border: 0;
}

.icon {
  	// width: 20px; height: 20px;
  	&.reverse {
		transform: rotate(180deg);
	}
	&.rotate-90 {
		transform: rotate(-90deg);
	}
	&.rotate90 {
		transform: rotate(90deg);
	}
}



// ====== Main

.main-wrapper {
	width: $wrapper_width;
	margin: 0 auto;
	background-color: $white;
	overflow: hidden;
	@include media('laptop') {
		width: 100%;
	}
}

#main {
	//padding: $wrapper_padding;
}



// ====== Banner
.page-banner {
	position: relative;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 400px;
	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba($gold, 0.5);
	}
	&.overlay-free {
		&:before {
			content: none;
		}
	}
	.content {
		z-index: 3;
		position: relative;
		padding-top: 180px;
		padding-bottom: 48px;
		.desc {
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.link-play {
		padding-left: 59px;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 30px;
		text-decoration: none;
		position: relative;
		display: block;
		letter-spacing: 0.58em;
		@extend .proxima-nova-bold;
		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
		}
		&:before {
			top: 0;
			left: 0;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 1px solid $blue;
		}
		&:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5.5px 0 5.5px 9px;
			border-color: transparent transparent transparent $blue;
			top: 10px;
			left: 11px;
		}
	}
	@media (max-width: 991px) {
		background-position: right bottom;
		.link-play {
			display: none;
		}
	}
	@media (min-width: 992px) {
		h1 {
			margin-bottom: 0;
		}
	}
	@media (min-width: 1200px) and (max-width: 1599px) {
		.col {
			width: 50%;
		}
	}
}

.desc {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// ====== Intro
.intro {
	.slogan {
		@extend .proxima-nova-bold;
		font-size: 14px;
		line-height: 36px;
		text-transform: uppercase;
		letter-spacing: .6em;
		padding: 0 0 0 5px;
	}
	@media (max-width: 991px) {
		padding: 64px 0 30px;
		.slogan {
			margin-bottom: 15px;
		}
	}
}

// ====== images
.image {
	&.rounded {
		border-radius: 50%;
		overflow: hidden;
	}
	&.with-overlay {
		position: relative;
		z-index: 1;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($gold, .43);
			z-index: 2;
		}
		&.gray {
			&:after {
				background: rgba($gray, .5);
			}
		}
	}
}
.image-big {
	padding: 80px 0 144px;
	.video-btn {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 48px;
		height: 48px;
		border: 3px solid $white;
		border-radius: 50%;
		z-index: 3;
		margin: auto;
		background: transparent url('../img/triangle.png') no-repeat center center / 15px 21px;
	}
	@include media(cms-mobile) {
		padding: 50px 0;
	}
}

// ====== show more
.show-more {
	text-align: center;
	padding: 65px 15px 72px 15px;
	p {
		font-size: 14px;
		line-height: 1;
		margin-bottom: 26px;
		text-transform: uppercase;
		letter-spacing: .6em;
		@extend .proxima-nova-bold;
	}
	.text-link {
		@extend .proxima-nova-semibold;
	}
	@media (max-width: 991px) {
		padding: 45px 45px 50px;
		p {
			font-size: 13px;
			line-height: 22px;
			margin-bottom: 35px;
		}
	}
	@media (max-width: 374px) {
		padding: 45px 15px 50px;
	}
}

// ====== Social

.social-share {
	ul.list-unstyled {
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
		li {
			display: block;
			float: left;
			padding: 0;
			&:first-child {
				a {
					padding-left: 0;
				}
			}
			&:last-child {
				a {
					padding-right: 0;
				}
			}
			a {
				text-decoration: none;
				color: $grey;
				padding: 0 15px;
				&:hover,
				&:focus,
				&:visited {
					text-decoration: none;
				}
				&:hover,
				&:focus {
					color: $gold;
				}
				&:before {
					width: auto;
					margin: auto;
				}
			}
		}
	}
}


// ====== Subscribe
.subscribe {
	h4 {
		font-size: 10px;
		line-height: 12px;
		letter-spacing: .2em;
	}
	p {
		color: $grey;
		&.lead {
			color: $grey;
		}
	}
	.form-group {
		position: relative;
		.form-control {
			color: $grey;
		}
		.arrow-btn {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 10px;
		}
	}
}

// ====== Spinner

// ====== Others
.bg-blue {
	background: $blue;
	a,
	p {
		color: $gold;
	}
	.text-link {
		&:hover,
		&:focus,
		&:visited {
			color: $gold;
		}
		&:after {
			background: $gold;
		}
	}
}
.bg-gray {
	background: rgba($gray, 0.1);
}
.bg-gold {
	background: $gold;
}
.container-fluid {
	padding: 0 125px;
	@media (min-width: 992px) and (max-width: 1199px) {
		padding: 0 60px;
	}
	@media (max-width: 991px) {
		padding: 0 43px;
	}
	@media (max-width: 374px) {
		padding: 0 15px;
	}
}

