.main-footer {
  color: $grey;
  a {
    color: $grey;
    text-decoration: none;
  }
  .subscribe {
    padding: 109px 0 17px 0;
    h4 {
      margin-bottom: 23px;
    }
    p {
      font-size: 13px;
    }
  }
  .bottom {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ebebeb;
  }
  .list {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    li {
      position: relative;
      font-size: 10px;
      padding: 0 8px;
      display: block;
      float: left;
      &:first-child {
        padding-left: 0;
      }
      & + li {
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 1px;
          height: 8px;
          margin: auto;
          border-radius: 0;
          background: $grey;
        }
      }
      &.active,
      &:hover {
        @extend .proxima-nova-bold;
      }
      a {
        letter-spacing: .15em;
      }
    }
    &.small {
      li {
        &:not(:first-child) {
          padding: 0 6px;
        }
        a {
          letter-spacing: 0.6px;
        }
      }
    }
  }
  .list-nav {
    margin-bottom: 13px;
    li {
      text-transform: uppercase;
    }
  }
  h6 {
    text-transform: none;
    margin: 5px 0 12px;
    font-weight: normal;
    letter-spacing: 0.01em;
  }
  .col-contacts {
    a {
      text-decoration: underline;
      font-size: 10px;
      letter-spacing: .04em;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  .col-social {
    text-align: right;
    .social-share {
      margin-right: -105px;
    }
    ul {
      display: inline-block;
      padding-right: 50px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    .col-subscribe {
      width: 20%;
    }
    .col-mail {
      width: 30%;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .col-links {
      padding: 0;
    }
    .col-social {
      .social-share {
        margin-right: 0;
      }
      ul {
        padding-right: 0;
        li {
          padding: 0 5px;
        }
      }
    }
  }
  @include media(cms-mobile) {
    .subscribe {
      padding: 47px 0 35px;
      h4 {
        margin-bottom: 12px;
      }
      p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 0;
        br {
          display: none;
        }
      }
      .col-mail {
        margin: 32px 0 0 0;
      }
    }
    .col-logo {
      margin-bottom: 20px;
    }
    .col-social {
      text-align: left;
      .social-share {
        margin: 0 0 13px -5px;
      }
      ul.list-unstyled {
        li {
          padding: 0 10px;
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
    .col-links {
      clear: both;
      padding-right: 0;
      .list {
        li {
          &:not(:first-child) {
            padding: 0 5px;
          }
        }
      }
    }
    .col-contacts,
    .col-template {
      margin-bottom: 20px;
    }
    .list-nav {
      margin-bottom: 20px;
    }
    h6 {
      margin-bottom: 2px;
    }
  }
}