.main-header {
	height: $header_height;
	background-color: $header_bg;
	position: relative;
	&:after {
		@extend .clearfix;
	}
	.logo {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		width: 149px;
		height: 22px;
		a {
			display: block;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.navbar-nav {
		width: 50%;
		&.left {
			padding-right: 195px;
			text-align: right;
		}
		&.right {
			padding-left: 195px;
			text-align: left;
		}
		& > li {
			padding: 29px 14px 27px 14px;
			display: inline-block;
			float: none;
			position: relative;
			overflow: hidden;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			& > a,
			& > span {
				@extend .proxima-nova-bold;
				color: $gold;
				text-transform: uppercase;
				font-size: 11px;
				line-height: 12px;
				text-decoration: none;
				padding: 0;
				letter-spacing: 0.45em;
				display: block;
				&:focus,
				&:hover,
				&:active {
					color: rgba($gold, 0.5);
					background: transparent;
					outline: none;
				}
			}
			span {
				position: relative;
				&:before {
					content: "";
					width: calc(100% - 0.45em);
					height: 2px;
					position: absolute;
					left: 0;
					top: 100%;
					background: $gold;
					margin-top: 8px;
					opacity: 0;
				}
			}
			&:hover,
			&:focus {
				& > a {
					color: rgba($gold, 0.5);
					background: transparent;
				}
			}
			&.active {
				span {
					&:before {
						opacity: 1;
					}
				}
				&:hover {
					span {
						&:before {
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
	.primary-btn {
		background: transparent;
		width: 142px;
		&:hover,
		&:focus {
			background: $gold;
			color: $blue;
		}
		&.collapsed {
			.text-open {
				display: block;
			}
			.text-close {
				display: none;
			}
		}
		.text-open {
			display: none;
		}
		.text-close {
			display: block;
		}
		.text-fixed {
			display: none;
			letter-spacing: 0.6em;
		}
		&.with-icon {
			position: absolute;
			top: 16px;
			right: 16px;
			margin: auto;
			.icon {
				font-style: normal;
				display: none;
				text-align: center;
				font-size: 13px;
				letter-spacing: 0;
				&:before {
					text-align: center;
					width: auto;
					margin: 0;
				}
			}
		}
	}
	.navbar-toggle {
		float: left;
		margin: 0;
		padding: 23px 17px 23px 17px;
		border-radius: 0;
		width: 63px;
		&.collapsed {
			.icon-bar {
				&:nth-child(2) {
					width: 10px;
				}
			}
		}
		.icon-bar {
			background: $gold;
			width: 19px;
			height: 1px;
			transition: width linear $speed;
			& + .icon-bar {
				margin-top: 6px;
			}
		}
		&:hover {
			background: $gold;
			.icon-bar {
				background: $blue;
			}
		}
	}
	.enquire-form {
		background: $blue;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 100;
		color: $gold;
		.enquire-form-content {
			padding: 52px 0 83px;
		}
		h4 {
			color: $gold;
			margin-bottom: 54px;
		}
		.form-group {
			margin-bottom: 56px;
		}
		.agent-detail {
			h5, p, a {
				color: $gold;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1429px) {
		.navbar-nav {
			&.left {
				padding-right: 130px;
			}
			&.right {
				padding-left: 130px;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		.primary-btn {
			&.with-icon {
				top: 0;
				right: 0;
				border: none;
				width: 63px;
				height: 100%;
				padding: 14px;
				.icon {
					display: inline-block;
				}
				span {
					display: none !important;
				}
			}
		}
		.navbar-nav {
			&.left {
				padding-right: 13%;
			}
			&.right {
				padding-left: 13%;
			}
		}
	}
	@include media(cms-mobile) {
		height: auto;
		.logo {
			position: static;
			width: auto;
			margin: 0 66px;
			padding: 24px 0;
			height: $header_mobile_height;
			overflow: hidden;
			img {
				display: block;
				margin: 0 auto;
			}
		}
		.primary-btn {
			&.with-icon {
				border: none;
				position: static;
				height: 63px;
				width: 63px;
				float: right;
				padding: 14px;
				.icon {
					display: inline-block;
				}
				span {
					display: none;
				}
			}
			.text-open,
			.text-close {
				display: none !important;
			}
		}
		.menu {
			box-shadow: none;
			border-top: none;
			width: 100%;
			.menu-inner {
				padding: 75px 0 45px 0;
			}
			.primary-btn {
				display: block;
				margin: 0 auto;
			}
		}
		.navbar-nav {
			&.left,
			&.right {
				padding: 0;
				margin: 0;
				text-align: center;
				width: 100%;
				& > li {
					display: block;
					padding: 17px 30px;
					a,
					span {
						font-size: 15px;
						display: inline-block;
						letter-spacing: 0.4em;
					}
				}
			}
			&.right {
				margin-bottom: 100px;
			}
		}
		.enquire-form {
			.enquire-form-content {
				padding: 36px 0 120px;
			}
			.form-group {
				margin-bottom: 29px;
			}
		}
		.navbar-toggle {
			&.collapsed {
				&:focus,
				&:hover:focus {
					background: $blue;
					.icon-bar {
						background: $gold;
					}
				}
			}
		}
	}
}
.main-wrapper {
	&.fixed {
		padding-top: $header_mobile_height;
		#main_header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 100;
			.navbar-toggle {
				background: $gold;
				.icon-bar {
					background: $blue;
				}
			}
			.primary-btn {
				&.with-icon {
					position: absolute;
					top: 0;
					right: 0;
					width: calc(100% - 63px);
					left: $header_mobile_height;
					background: $blue;
					color: $gold;
					z-index: 10;
					padding: 14px 32px;
					font-size: 14px;
					.icon {
						display: none;
					}
					&:hover,
					&:focus {
						background: $gold;
						color: $blue;
					}
					.text-fixed {
						display: block;
					}
				}
			}
		}
	}
}
