
// Headings

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	&.mb0 { margin-bottom: 0; }
	&.mb5 { margin-bottom: 5px; }

}

h1 {
	@extend .proxima-nova-bold;
	font-size: 30px;
	line-height: 82px;
	letter-spacing: .56em;
	color: $main_color;
	text-transform: uppercase;
	margin-bottom: 30px;
}
h2 {
	@extend .proxima-nova-bold;
	font-size: 14px;
	line-height: 36px;
	letter-spacing: .6em;
	color: $gold;
	text-transform: uppercase;
	margin-bottom: 30px;
}
h3 {
	@extend .proxima-nova-bold;
	font-size: 12px;
	line-height: 40px;
	letter-spacing: .56em;
	color: $main_color;
	text-transform: uppercase;
	margin-bottom: 30px;
}
h4 {
	@extend .proxima-nova-semibold;
	font-size: 12px;
	line-height: 36px;
	letter-spacing: .16em;
	color: $main_color;
	text-transform: uppercase;
	margin-bottom: 50px;
}
h5 {
	@extend .proxima-nova-bold;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: .18em;
	color: $grey;
	text-transform: uppercase;
	margin-bottom: 20px;
}
// h6 has not been designed but is set as per h5, just in case
h6 {
	@extend .proxima-nova-bold;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: .18em;
	color: $grey;
	text-transform: uppercase;
	margin-bottom: 20px;
}


// Copy

b, strong {
	@extend .proxima-nova-semibold;
}
p {
	@extend .proxima-nova-regular;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: .04em;
	margin-bottom: 20px;
	color: $copy_color;
	&.small {
		font-size: 13px;
		line-height: 18px;
	}
	&.lead {
		@extend .proxima-nova-medium;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: .04em;
		color: $copy_color;
	}
}

a {
	font-size: inherit;
	line-height: inherit;
	letter-spacing: .06em;
	color: $copy_color;
	text-decoration: underline;
	&:hover { 
		color: $copy_color;
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}

blockquote {
	@extend .proxima-nova-regular;
	font-size: 27px;
	line-height: 42px;
	letter-spacing: .04em;
	padding: 0;
	border: none;
	color: $main_color;
	text-transform: none;
	margin-top: 40px;
	margin-bottom: 40px;
}


// Lists

ol,ul {
	margin-bottom: 20px;
	padding-left: 0;
	
	&.list-style-none, &.list-unstyled {
		padding: 0; margin: 0;
		list-style: none;
		li {
			padding: 0; margin: 0; 
			list-style: none;
			&:before { display: none; }
		}
	}

}

// same as p
li {
	font-size: 14px;
	line-height: 22px;
	letter-spacing: .04em;
	padding-bottom: 5px;
}

// blue dots
ul {
	li {
		list-style-type: none;
		position: relative;
		padding-left: 30px;
		&:before {
			content: '';
			width: 6px; height: 6px;
			background: $main_color;
			border-radius: 50%;
			position: absolute;
			top: 8px; left: 0;
		}
	}
}

// blue numbers
ol {
	counter-reset: item;
	list-style: none;
	li {
		position: relative;
		padding-left: 30px;
	}
    li:before {
        content: counter(item, decimal-leading-zero); // 01, 02, etc.
        counter-increment: item;
        color: $main_color;
        margin-right: 10px;
        width: 14px;
        position: absolute; top: 0; left: 0;
		font-size: 12px;
		margin-top: 1px;
    }
}



// ==== RESPONSIVE

@include media(cms-mobile) {
	h1 {
		font-size: 20px;
		line-height: 27px;
	}
	h2 {
		font-size: 14px;
		line-height: 36px;
	}
	h3 {
		font-size: 12px;
		line-height: 24px;
	}
	h4 {
		font-size: 10px;
		line-height: 12px;
	}
	h5 {
		font-size: 9px;
		line-height: 12px;
	}
	h6 {
		font-size: 9px;
		line-height: 12px;
	}
	p {
		font-size: 13px;
		line-height: 22px;
		&.small {
			font-size: 11px;
			line-height: 20px;
		}
		&.lead {
			font-size: 14px;
			line-height: 20px;
		}
	}
	li {
		font-size: 13px;
		line-height: 22px;
	}
	blockquote {
		font-size: 18px;
		line-height: 30px;
	}
}

