// Bootstrap
$grid-gutter-width: 10px;
$grid-columns: 14 !default;
$grid-float-breakpoint: 992px;
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../bower_components/slick-carousel/slick/slick.scss';

// Liquid
@import 'main'; 